@charset "UTF-8";

.cart-items {
	
	
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 10rem;
	
}

body {
	
	background-color: #f5f5f5;
	margin : 0;
}

h1,
h2,
h3,
p,
li,
a,
span {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.marketplace-card h2 {
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
 
}


.header {
	
	text-align: center;
    margin : 0;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #333;
    color: white;
}

.marketplace-lot {
	
	
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 10rem;
	
}


.cart-card {
	
	display: flex;
	flex-direction: column;
	justify-content : space-between;
	margin: 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background: white;
	border-radius: 8px;
	overflow: hidden;
	
	
}

li {
	
	list-style-type: none; /* Remove bullets */

}

ul {
	
	font-weight : bold;
	font-size : 1.5em;
	text-align : center;
	padding: 0;
}


img {
	
	margin: 15px;
	border-radius: 4px;
}


button {
	display: inline-block;
	padding: 10px 20px;
	background: #1098ad;
	color: white;
	border-radius: 4px;
	border: none;
	
}

button:hover {
	background: #0c7b8d;
}

.purchase {
	
	max-width : fit-content;
	margin : 15px auto;
	text-align: center;
}


