@charset "UTF-8";


h1,
h2,
h3,
p,
li,
a {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
	font-size: 30px;
	font-style: normal;
	color: black;
}

/* h2 {
	font-size: 42px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 48px;
	text-align: center;
} */

h3 {
	font-size: 26px;
	font-style: normal;
}

p {
	font-size: 20px;
	font-style: normal;
}

li {
	font-size: 20px;
	font-style: normal;
}

a {
	color: black;
	text-decoration: none;
	font-style: normal;
	font-size: 20px;
	text-align: center;
}

ul {
	list-style: none;
}


.header {
	
	text-align : center;
	margin-bottom : 5rem;
}

.marketplace-card {
	
	text-align : center;
	
}

.marketplace-lot {
	
	
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
	margin: 5rem;
	
}

.cart {
	
	
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin : 2rem;
	
}




