@charset "UTF-8";

h1,
h2,
h3,
p,
li,
a,
span {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
	
	margin: 0;
}

h1 {
	
	margin: 2rem;
}

.marketplace-lot {
	
	
	display: flex;
	flex-wrap: wrap;
	gap: 5rem;
	margin: 5rem;
	
}

.cart {
	
	
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin : 2rem;
	
}

.cart-text {
	
	margin-right: 2rem;
}

.marketplace-card {
	gap: 30px;
	display: flex;
	flex-direction: column;
	justify-content : space-between;
	margin: 0 auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background: white;
	border-radius: 8px;
	padding: 15px;
	
	
}

li {
	
	list-style-type: none; /* Remove bullets */

}

ul {
	
	padding: 0; /* Remove padding */
	margin: 0; /* Remove margins */
	bottom : 0px;
}

span {
	
	padding-left: 0.5rem;

	
	}

button {
	display: inline-block;
	padding: 10px 20px;
	background: #1098ad;
	color: white;
	border-radius: 4px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	
}

button:hover {
	background: #0c7b8d;
}

.vehicle-name {
	
	font-weight : bold;
	font-size : 1.5em;
	
}








